html{
	margin:0px;
	padding:0px;
}

@font-face {
	font-family: 'Aaargh';
	src: url('font/Aaargh.ttf');
	/*src: local('Aaargh'), local('Aaargh'), url('font/Aaarg.ttf') format('truetype');*/
}

p{
	font-family: 'Aaargh';
}

body{
	background-color: #B0C8B2;
	margin: 0px;
	font-family: 'Aaargh';
}

ul, li{
	margin:0px;
	list-style: none;
	padding: 0px;
}

#barra{
	width: 100%;
	height: 75px;
	background-color: #F7E1B8;
	/*margin-top: 38px;*/
}
#botonera{
	overflow: hidden;
	margin-left: -195;
	padding-top: 15px;
	width: 520px;
	position: relative;
	left: 50%;
}

#indi{
	background-image: url("../imgs/ind.png");
	width: 142px;
	height: 142px;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -420px;
	cursor: pointer;
	
}
#centroEN{
	background-image: url("../imgs/centroEN.png");
	width: 666px;
	height: 504px;
	margin: 2% auto 0px auto;  
}
#centroSP{
	background-image: url("../imgs/centroSP.png");
	width: 666px;
	height: 504px;
	margin: 2% auto 0px auto;  
}
#centroGER{
	background-image: url("../imgs/centroGER.png");
	width: 666px;
	height: 504px;
	margin: 2% auto 0px auto;  
}
#centroIT{
	background-image: url("../imgs/centroITA.png");
	width: 666px;
	height: 504px;
	margin: 2% auto 0px auto;  
}
#lenguajes{
	padding:285px 0px 0px 0px;
	margin-left: 190px;
}
.lng{
	float: left;
	margin-left: 20px;
	height:25px;
	padding: 5px;
}
.bots{
	float: left;
	margin-right: 30px;
	width: 56px;
	height: 50px;
}

#missionEN{
	background-image: url("../imgs/missionEN.png");
	background-repeat: no-repeat;
	position: relative;
	top: 3px;
}

#missionEN:hover{
	background-position: 0px -53px;
	cursor: pointer;
}

#missionSP{
	background-image: url("../imgs/missionES.png");
	background-repeat: no-repeat;
	position: relative;
	top: 3px;
}

#missionSP:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#missionIT{
	background-image: url("../imgs/missionITA.png");
	background-repeat: no-repeat;
	position: relative;
	top: 3px;
}

#missionIT:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#missionGR{
	background-image: url("../imgs/missionGER.png");
	background-repeat: no-repeat;
	position: relative;
	top: 3px;
}

#missionGR:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#pricesEN{
	background-image: url("../imgs/priceEN.png");
	background-repeat: no-repeat;


}
#pricesEN:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#pricesSP{
	background-image: url("../imgs/priceES.png");
	background-repeat: no-repeat;


}
#pricesSP:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#pricesGR{
	background-image: url("../imgs/priceGER.png");
	background-repeat: no-repeat;


}
#pricesGR:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#pricesIT{
	background-image: url("../imgs/priceITA.png");
	background-repeat: no-repeat;


}
#pricesIT:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#trailersEN{
	background-image: url("../imgs/trailersEN.png");
	background-repeat: no-repeat;
}
#trailersEN:hover{
	background-position: -1px -52px;
	cursor: pointer;
}
#trailersSP{
	background-image: url("../imgs/trailersES.png");
	background-repeat: no-repeat;
}
#trailersSP:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#trailersIT{
	background-image: url("../imgs/trailersITA.png");
	background-repeat: no-repeat;
}
#trailersIT:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#trailersGR{
	background-image: url("../imgs/trailersGER.png");
	background-repeat: no-repeat;
}
#trailersGR:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#contactEN{
	background-image: url("../imgs/contactEN.png");
	background-repeat: no-repeat;
	position: relative;
	top: 5px;
}
#contactEN:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#contactSP{
	background-image: url("../imgs/contactES.png");
	background-repeat: no-repeat;
	position: relative;
	top: 5px;
}
#contactSP:hover{
	background-position: 0px -53px;
	cursor: pointer;
}
#contactIT{
	background-image: url("../imgs/contactITA.png");
	background-repeat: no-repeat;
	position: relative;
	top: 5px;
}
#contactIT:hover{
	background-position: 0px -53px;
	cursor: pointer;
}
#contactGR{
	background-image: url("../imgs/contactGER.png");
	background-repeat: no-repeat;
	position: relative;
	top: 5px;
}
#contactGR:hover{
	background-position: 0px -53px;
	cursor: pointer;
}

#privacyEN{
	background-image: url("../imgs/privacyEN.png");
	background-repeat: no-repeat;
}
#privacyEN:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#privacySP{
	background-image: url("../imgs/privacyES.png");
	background-repeat: no-repeat;
}
#privacySP:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#privacyGR{
	background-image: url("../imgs/privacyGER.png");
	background-repeat: no-repeat;
}
#privacyGR:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#privacyIT{
	background-image: url("../imgs/privacyITA.png");
	background-repeat: no-repeat;
}
#privacyIT:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#festivalEN{
	background-image: url("../imgs/festivalEN.png");
	background-repeat: no-repeat;
}
#festivalEN:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#festivalSP{
	background-image: url("../imgs/festivalES.png");
	background-repeat: no-repeat;
}
#festivalSP:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#festivalIT{
	background-image: url("../imgs/festivalITA.png");
	background-repeat: no-repeat;
}
#festivalIT:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
#festivalGR{
	background-image: url("../imgs/festivalGER.png");
	background-repeat: no-repeat;
}
#festivalGR:hover{
	background-position: 0px -52px;
	cursor: pointer;
}
.content{
	min-height: 250px;
	width: 100%;
	background-color: #F7E1B8;
	margin-top: 100px;
	padding: 10px 0px 40px 0px;
}

.sub-content{
	margin-left: 15%;
	padding-top: 30px;
	width: 1000px;
	text-align: justify;
	position: relative;
	left: 62%;
	margin-left: -620px;
}

.text-cont{
	margin: 25px 0px 0px 8px;
}

#contacto{
	position: relative;
	left: 50%;
	margin-left: -250px;
	top: 35px;
	margin-bottom: 40px;
}

#proximamente{
	position: relative;
	left: 50%;
	margin-left: -285px;
	top: 45px;
}

#tr{
	width: 750px;
	position: relative;
	left: 25%;
	margin-left: -230px;
}

.trs{
	margin: 0px 20px 20px 0px;
	cursor: pointer;
}


#grey{
	width:100%;
	height:100%;
	background-color: #000;
	opacity: 0;
	display:none;
	z-index:9100;
	position: absolute;	
	top:0px;
}

#close{
	position:relative;
	left: 745px;
	top: -50px;
	cursor: pointer;
}

#cl-button{
	width: 25px;
}

.sel{
	background-color: #555;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#botonera2{
	overflow: hidden;
	margin-left: 195px;
	/*padding-top: 15px;*/
	width: 85%;
	position: relative;
	/*right: 10%;*/

	
}
.bots2{
	float: right;
	/*margin-right: 10px;*/
	
}
#face{
	width: 40px;
	height: 40px;
	background-image: url("../imgs/face.png");
	background-repeat: no-repeat;
	background-position: -10px -2px;
	position: relative;
	top: 3px;
}
#face:hover{
	background-position: -10px -54px;
	cursor: pointer;
}
#paypal{
	width: 111px;
	height: 40px;
	background-image: url("../imgs/paypal.png");
	background-repeat: no-repeat;
	background-position: 0px -5px;
	position: relative;
	top: 3px;
}
#paypal:hover{
	background-position: 0px -62px;
	cursor: pointer;
}
#fest{
	margin-left: 30px; 
	margin-top: 20px;
    width: 150px;
    height: auto;
    float: left;
}
#fest:hover{
	cursor: pointer;
}
#cams{
	width: 100px;
	height: auto;
	float: right;
	margin-right: 100px;
	position: relative;
}
